.notes-application-container{
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #37384d;
    color: #fbfbfb;
}

.notes-application-container h1{
    box-sizing: border-box;
    margin: 0 0 0 10px;
    padding: 0;
}

.notes-application-container .notes-application-content-container{
    display: flex;
    box-sizing: border-box;
    height: calc(100% - 50px);
    padding: 0 10px 10px 10px;
    gap: 10px;
}

.notes-application-container .saved-notes-container{
    height: 100%;
    border: solid #fbfbfb 2px;
    min-width: 20%;
    max-width: 20%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}
.notes-application-container .saved-notes-container .saved-note{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #fbfbfb;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.notes-application-container .saved-notes-container .saved-note-selected{
background-color: #4C4E6B;
}

.notes-application-container .saved-notes-container .saved-note:hover{
background-color: #4C4E6B;
}

.notes-application-container .saved-notes-container button{
    width: 100%;
    background-color: #fbfbfb;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #e9a246;
}

.notes-application-container .saved-notes-container button:hover{
    cursor: pointer;
}
.notes-application-container .saved-notes-container button:focus{
    outline-offset: 2px;
    outline: solid #fbfbfb 2px;
}

.notes-application-container .saved-notes-container .saved-note:hover{
    cursor: pointer;
}

.notes-application-container .saved-notes-container .saved-note p{
    margin: 0;
}

.notes-application-container .saved-notes-container .saved-note button{
    width: 75px;
    background-color: #fbfbfb;
    border: 2px solid #e33e32;
    border-radius: 10px;
}

.notes-application-container .saved-notes-container .saved-note button:hover{
    cursor: pointer;
}

.notes-application-container .saved-notes-container .saved-note button:focus{
    outline-offset: 2px;
    outline: solid #fbfbfb 2px;
}

.notes-application-container .notes-application-content-container .note-content-container{
    min-width: 80%;
    max-width: 80%;
    box-sizing: border-box;
}

.notes-application-container .notes-application-content-container .note-content-container .note-content-name-container{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 35px;
    padding: 0 0 5px 0;
}

.notes-application-container .notes-application-content-container .note-content-container .note-content-name-container input{
    width: 100%;
    border-radius: 10px;
    border-color: #fbfbfb;
}

.notes-application-container .notes-application-content-container .note-content-container .note-content-name-container input:focus-visible{
    outline: solid #4d5de5 2px;
}

.notes-application-container .notes-application-content-container .note-content-container .note-content-name-container .button-container{
    display: flex;
    box-sizing: border-box;
}

.notes-application-container .notes-application-content-container .note-content-container .note-content-name-container button{
    min-width: 88px;
    background-color: #fbfbfb;
    border: 2px solid #e9a246;
    border-radius: 10px;
}

.notes-application-container .notes-application-content-container .note-content-container .note-content-name-container button:hover{
    cursor: pointer;
}

.notes-application-container .notes-application-content-container .note-content-container .note-content-name-container button:focus{
    outline-offset: 2px;
    outline: solid #fbfbfb 2px;
}

.notes-application-container .notes-application-content-container .note-content-container textarea{
    height: calc(100% - 35px);
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 10px;
    scroll-margin: 0;
    scroll-padding: 0;
    resize: none;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 10px;
    border-color: #fbfbfb;
}

.notes-application-container .notes-application-content-container .note-content-container textarea:focus-visible{
    outline: solid #4d5de5 2px;
}
